/* Global CSS*/

body {
  margin: 0;
  font-family: "Roboto", "sans-serif";
  -webkit-font-smoothing: "Roboto", "sans-serif";
  -moz-osx-fint-smoothing: "Roboto","sans-serif";
  font-style: normal;
}

h1, h2, h3, h4, h5, h6,p{
  margin: 0;
}

:root{
  --primary:#5e3bee;
  --heading-color:#282938;
  --bg-shade:#f5fcff;
  --github:#e62872;
  --dakblue:#1c1e53;
  --black:#000000;
  --white:#ffffff
}
.btn{
  font-family: "Roboto";
  display: inline-block;
  padding: 14px 32px;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  --webkit-border-radius: 5px;
  --moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition:background-color 0.5s;
}
.btn-outline-primary{
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
}
.btn-outline-primary:hover{
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.btn-primary{
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.btn-primary:hover{
  color: var(--primary);
  background-color: var(--white);
}
.btn-github{
  color: var(--white);
  background-color: var(--github);
  border: var(--github);
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
  gap: 16px;
}
.btn-github:hover{
  color:var(--github);
  background-color: var(--white);
}

/* Global css ends here */

/* Main heading */

/* heading 1 */
h1{
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}
/* heading 2 */
h2{
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
/* heading 3 */
h3{
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

/* paragraph large medium small */
.text-lg{
  color: var(--dakblue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.text-md{
  color: var(--dakblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.text-sm{
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* section titles */
/* Skills & About Me */
.section--title{
  color: var(--heading-color);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}

/* portfolio,ContactME */
.sub--title{
  color:var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

/* section titles end */
/* Navbar style start */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 85.333px;
  background:var(--white);
  box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top:0;
  left: 0;
  right: 0;
}
.navbar--items > ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap:42.667px;
  text-decoration: none;
}

.navbar--items ul > li > a {
  text-decoration: none;
}
.navbar--content {
  color:var(--dakblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
.navbar--active--content{
  color: var(--primary);
}
/* Navbar style ends*/

/* Hero section  */
.hero--section{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 133.33px 85.333px 133.333px;
  align-items: center;
  justify-content: space-between;
  gap:32px;
  background-color:var(--bg-shade) ;
}
.hero--section--content--box{
display: flex;
flex-direction: column;
align-items: flex-start;
gap:32px
}
.hero--section--content{
display: flex;
flex-direction: column;
align-items: flex-start;
gap:21.33px
}
.hero--section--content--box > button{
  margin-top: 21.333px;
}
.hero--section--title{
  color: var(--heading-color);
  font-size: 74.667px;
  font-weight: 700px;
  line-height: 90px;
  align-self: stretch;
}
.hero--section--title--color {
  color: var(--primary);
}
.hero--section--description {
  color: var(--dakblue);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.hero--section--img  {
  display: flex;
}
.hero--section--img > img {
  width: 100%;
  height: 100%;
}

/* Hero section style ends here */